@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
}

input {
  max-width: 500px;
}

.buttonGroup {
  margin-top: 50px;
}

/* .gray {
  color: #828282;
}*/

.blue {
  background-color: #0099ff;
}
/*
.background-gray {
  background-color: white;
}*/


.f11 {
  font-size: 11px;
}

.w85 {
  width: 85%;
}

/* .button {
  font-family: monospace;
  font-size: 10pt;
  color: black;
  background-color: buttonface;
  text-align: center;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  cursor: pointer;
  max-width: 250px;
} */

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}